.form-control {
    border-radius: 0
}

.btn-form-action {
    border-radius: 0px;
    color: white;
    background-color: $color-primary;
    border: none;
    font-size: 2.5rem;
    width: 200px;

    &:hover {
        color: white;
        background-color: $color-primary-hover;
    }
}