body {
    color: $color-body-text;
}

p {
    color: $color-body-text;
}

.list-group-item { 
    border: none;
    background-color: transparent;
}

.site-nav a {
    &:visited {
        color: $color-primary;
    }

    &:hover {
        color: $color-primary-hover;
        text-decoration: none;
        outline: none;
    }

    &:active {
        color: $color-primary-hover;
    }

    &:focus {
        outline: none
    }
}

/* Hover effect */ 
.site-nav a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 4px;
	background: $color-primary-hover;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.site-nav a:hover::after,
.site-nav a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.brand {
    a {
        color: $color-body-text;

        &:visited {
            color: $color-body-text
        }

        &:hover {
            color: $color-body-text;
            text-decoration: none
        }

        &::active {
            color: $color-body-text
        }
    }
}

.common-section-title {
    color: $color-primary;
    font-size: 5.5rem;
    font-weight: 600;
}

.common-body-text-large {
    font-size: 2.5rem;
}

.common-body-text {
    @media only screen and (max-width: 576px) {
        font-size: 1.6rem;    
    }

    font-size: 1.8rem;
}

.common-text-title {
    @media only screen and (max-width: 576px) {
        font-size: 2rem;
    }

    font-size: 2.5rem;
}

.carousel-indicators {
    li {
        background-color: $color-primary;
        border: 0px;
        border-radius: 40px;
        width: 8px;
        height: 8px;
    }
}

.accordion-action {
    color: $color-link;
    cursor: pointer;
}

.footer-brand h3 {
    @media only screen and (max-width: 576px) {
        font-size: 1.8rem
    }
    
    font-size: 2.5rem;
}

.copyright {
    @media only screen and (max-width: 576px) {
        font-size: 1.4rem
    }

    font-size: 1.6rem
}